<! DOCTYPE html>
<html>
  <link = "text/css" rel = "stylesheet" href = "style.css"/>
  <title>ChessBoard</title>
  <body>
    <h1>Chess Board</h1>
    <table>

        {% for row in color_array %}
            <tr>
                {% for column in row %}
                  {% if column == 'b' %}
                    <td class = "black"></td>
                  {% else %}
                    <td class = "white"></td>
                    {% endif %}
                  {% endfor %}
            </tr>
        {% endfor %}
    </table>
  </body>
</html>
